<!DOCTYPE html>
<html lang="<!--@@var = lang-->">
<head>
    <meta charset="UTF-8">
    <title>Coinduck</title>

    <!-- @@placeholder = head -->

    <!-- favicon set -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../image/coinduck.favicon.ico" sizes="32x32">
    <meta property="og:image" content="https://coinduck.kr/image/opengraph.png" />
    <meta property="og:image:secure_url" content="https://coinduck.kr/opengraph.png" />


    <link rel="stylesheet" href="../css/style.css">

</head>
<body>

    <!-- skip navigation -->
    <div class="skip-nav">
        <a href="#content">Go To Contents</a>
	</div>

    <header id="header">
        <div class="container">
            <h1><a href="/" class="menu">COINDUCK</a></h1>
            <nav>
            <!-- @@placeholder = link -->
            </nav>

            <div class="locale">
            <!--@@placeholder = locale-->
            </div>
        </div>
    </header>

    <article id="contents">
        <section id="summary">
            <!--@@placeholder = summary-->
        </section>

        <section id="about">
            <div class="container about">
            <!--@@placeholder = about-->
            </div>
        </section>

        <section id="press">
            <div class="container press">
            <!-- @@placeholder = press -->
            </div>
        </section>

        <section id="business">
            <div class="container business">
            <!-- @@placeholder = business -->
            </div>
        </section>

        <section id="point">
            <div class="container">
            <!-- @@placeholder = point -->
            </div>
        </section>

        <section id="partners">
            <div class="container partners">
            <!-- @@placeholder = partners -->
            </div>
        </section>
    </article>

    <footer>
        <div class="container">
        <!-- @@placeholder = footer -->
        </div>
    </footer>

	<!-- jquery cdn -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.touch.slider.js"></script>
	<script src="../js/js.js"></script>
</body>
</html>