<article>
    <h1>이용약관 <span>Term of Use</span></h1>
    <div class="content body">
        <h2>제1장 총칙</h2>

        <h3>제1조 [목적]</h3>
        <p>이 약관은 주식회사 체인파트너스(이하 “회사”라고 합니다)가 개발하고 제공하는 암호화폐 자동 매입 서비스 “코인덕”을 이용하여 온ㆍ오프라인 매장에서 암호화폐를 취급, 정산함에 있어서, 회사와 가맹점 사이의 권리ㆍ의무, 책임사항, 서비스 이용절차, 대금지급 및 그 밖의 제반 사항을 명확히 하여 쌍방의 원활한 협력을 도모하고 궁극적으로 공동의 이익을 증진하여 상호 발전을 도모하는 것을 그 목적으로 합니다.</p>

        <h3>제2조 [용어의 정의]</h3>
        <p>이 약관에서 사용하는 용어의 정의는 다음과 같습니다. 그리고 여기에서 정의되지 않은 이 약관상의 용어의 의미는 일반적인 거래관행에 따릅니다.</p>
        <ol>
            <li>    “코인덕(Coinduck)”이라 함은 회사가 운영하는 암호화폐 자동 매입 서비스 및 관련 부가서비스 일체를 총칭합니다.</li>
            <li>    “암호화폐”라 함은 “블록체인 네트워크”에서 전자적으로 존재하는 정보로서, “코인덕” 서비스에서 매입이 가능한 이더리움 및 기타 암호화된 가치 저장 수단을 지칭합니다. 다만, 매입 가능한 암호화폐의 종류는 제한적이며, 회사는 추후 웹사이트를 통해 공시 후, 매입 가능한 암호화폐의 종류를 추가하거나 삭제할 수 있습니다.</li>
            <li>    “암호화폐 지갑”이라 함은 “코인덕” 서비스 내에서 “암호화폐”를 송수신하는 수단이자 “암호화폐”의 저장공간으로서 회사가 소유하며, 이용계약 기간동안 가맹점이 운영하는 온ㆍ오프라인 가맹점을 식별하기 위한 목적으로 회사가 가맹점에게 할당하는 고유 정보입니다.</li>
            <li>    “블록체인”이라 함은 분산원장 기술을 기반으로 한 공공 거래 장부로서, “코인덕” 플랫폼 내에서 매입이 가능한 “암호화폐”의 기반이 되는 기술 형태입니다.</li>
            <li>    “블록체인 네트워크”라 함은 해당 “블록체인”의 데이터를 저장하고 검증하는 분산된 노드들의 연결체로서, “코인덕” 서비스 이용 시 송수신되는 “암호화폐” 및 전송내역을 저장하는 장부 및 전송 내역을 검증하는 수단입니다.</li>
            <li>    “전송”이라 함은 “암호화폐”를 “블록체인 네트워크” 상의 특정 “암호화폐 지갑”에서 다른 “암호화폐 지갑”으로 보내는 행위입니다. 다만, “블록체인 네트워크”를 이용하지 않고 “암호화폐’를 보내는 오프체인(Off-chain) 결제 또한 본 전송의 범주에 포함됩니다.</li>
            <li>    “시세”라 함은 대한민국 서울에서 사업을 영위하는 암호화폐 거래소 빗썸(http://bithumb.com)에서 거래되고 있는 “암호화폐”의 대한민국 원화 금액을 기준으로 산정된 가격입니다. 산정 시점은 회사가 가맹점이 지정한 담당자의 휴대전화 연락처 또는 POS 기기로 “암호화폐” 매입(결제) 완료 메세지를 보낸 시각을 기준으로 합니다.</li>
            <li>    “영업일”이라 함은 대한민국에서 은행이 영업하는 날(토요일, 일요일, 공휴일 및 일부은행 또는 어느 은행의 일부 점포만이 영업하는 날을 제외합니다)을 의미합니다.</li>
            <li>    유료서비스 : 회사가 제공하는 서비스 중 회원이 일정 금액을 결제하거나, 회원이 회사 또는 제3자와의 거래 내지 약정 조건을 수락하는 경우에 이용할 수 있는 회사의 서비스를 의미합니다.</li>
            <li>   회원 : 회사의 서비스에 접속하여 이 약관에 따라 회사와 이용계약을 체결하고 회사가 제공하는 서비스를 이용하는 고객을 말합니다.</li>
            <li>   유료회원 : 별도의 금액을 지불하고 월 요금제 등을 결제하여 유료서비스를 이용하는 회원을 의미합니다.</li>
        </ol>

        <h3>제3조 [약관의 효력 및 개정]</h3>
        <ol>
            <li>    이 약관에 대한 동의는 당사자 상호 간의 날인에 의해 작성된 계약의 체결과 동일한 효력을 갖습니다.</li>
            <li>    이 약관의 일부 또는 전부에 대하여 개정이 필요한 경우에는 회사와 가맹점이 사전 서면 합의에 따라 변경할 수 있습니다. 다만, “코인덕” 웹사이트를 통해 고시 또는 공표하기로 이용약관에서 명시한 내용에 대해서는 별도의 약관 변경 없이 회사의 정책적 판단에 따라 웹사이트 고시 또는 공표 만으로 변경 가능합니다.</li>
        </ol>

        <h3>제4조 [서비스의 범위]</h3>
        <p>이 약관이 적용되는 범위는 다음과 같습니다.</p>
        <ol>
            <li>    회사가 제공한 “코인덕” 플랫폼을 통해 일어나는 모든 거래 및 매입, 정산 행위</li>
            <li>    회사와 가맹점간의 합의에 따른 추가서비스 (다만, 추가서비스는 별도의 이용계약에 따라 규율됩니다.)</li>
        </ol>

        <h3>제5조 [일반적 준수사항]</h3>
        <ol>
            <li>    회사는 가맹점이 매장에서 “코인덕” 서비스를 고객에게 충분히 소개하고 홍보할 수 있는 홍보물 및 종업원 교육 기회를 성실히 제공합니다.</li>
            <li>    가맹점은 주기적인 종업원 교육과 “코인덕” 홍보물 비치를 통해 “코인덕” 서비스가 매장에서 실제로 사용될 수 있도록 최선을 다합니다.</li>
        </ol>


        <h2>제2장 이용계약 및 정보보호</h2>

        <h3>제6조 [가맹점등록 등]</h3>
        <ol>
            <li>회사가 제공하는 “코인덕” 서비스의 가맹점으로 등록하여 이용하고자 하는 자(이하 “등록신청자”라고 합니다)는 이 약관에 동의하고, 회사가 정하는 가맹점등록신청 양식에 따라 신원정보 등의 필요한 사항을 등록하여야 합니다. 이 경우 회사는 등록신청자에게 추가 정보를 요청할 수 있습니다.</li>
            <li>필수 기재항목 : 상호명(사업체명), 사업자등록증, 통장사본, 사업자등록번호, 업태, 대표자 성명,  사업장 주소, 전자우편, 대표 연락처(고객 응대 연락처), 암호화폐 매입대금 송금계좌번호</li>
            <li>이용계약의 기간은 가맹점이 이 약관에 대한 동의를 한 날로부터 1년으로 하고, 기간 만료 30일 전까지 일방으로부터 기간만료와 동시에 이용계약을 종료한다는 서면통지가 없을 시에는 전 이용계약과 동일한 조건으로 1년간 자동 갱신됩니다.</li>
        </ol>

        <h3>제7조 [개인정보의 보호]</h3>
        <p>회사는 가맹점이 이용계약을 위하여 제공한 정보 및  회사가 가맹점에게 서비스 이용을 위해 제공한 정보를(어드민 페이지 ID/PW 보호 목적) 가맹점이 동의한 회사의 서비스 운영을 위한 목적 이외의 용도로 사용할 수 없고, 새로운 이용목적이 발생한 경우 또는 제3자에게 제공하는 경우에는 이용ᆞ제공단계에서 해당 가맹점에게 그 목적 등을 고지하고 이에 대한 동의를 받습니다. 다만, 관련 법령에 달리 정함이 있는 경우에는 그러하지 아니합니다.</p>

        <h3>제8조 [계약해지]</h3>
        <p>회사 또는 가맹점은 다음 각 호에 해당하는 경우 이용계약을 해지할 수 있습니다.</p>
        <ol>
            <li>    회사 또는 가맹점 중 어느 일방이 이용계약의 각 조항을 위반하거나 이행하지 아니한 경우</li>
            <li>    이용계약 내용의 변경으로 재계약 체결이 불가한 경우</li>
            <li>    회사 또는 가맹점이 부도 등 중대한 사유로 이용계약의 서비스를 지속할 수 없는 경우</li>
            <li>    그 밖에 법령의 제ㆍ개정, 정부 정책, 금융감독기관 등 정부당국의 검사ㆍ조사 등으로인하여 본 계약의 이행이 사실상 불가능한 경우</li>
            <li>    가입 시 가입 사실을 허위로 기재한 경우</li>
        </ol>


        <h2>제3장 서비스의 내용</h2>

        <h3>제9조 [서비스의 내용]</h3>
        <ol>
            <li>    회사는 “코인덕” 서비스에 가입한 가맹점에게 회사 소유의 “암호화폐 지갑”을 할당합니다. 다만, 이 할당은 가맹점을 “코인덕” 서비스의 가맹점으로서 식별하기 위한 목적이므로, 이 할당 이후에도 해당 “암호화폐 지갑”의 소유권은 오직 회사에 있습니다.</li>
            <li>    가맹점은 일반 불특정 다수의 공중(이하 “공중”이라 합니다)에게 회사로부터 할당된 “암호화폐 지갑”에 “암호화폐’를 “전송”하게 할 수 있습니다. 이 경우 회사는 “코인덕”서비스의 “블록체인” 및 “블록체인 네트워크”에 전송자를 선택하거나 승인하는 절차 또는 기능을 부여받지 않았으므로 해당 전송자를 특정 또는 식별하는 등으로 선택적으로 승인할 수 없습니다.</li>
            <li>    회사는 이용계약을 통해 가맹점에게 할당한 “암호화폐 지갑”으로 “전송”된 모든 “암호화폐”를, 제2조 7호의 “시세”에 따라 원화로 매입합니다.</li>
            <li>    회사는 매입 즉시 가맹점이 이용계약 당시에 지정한 담당자의 휴대전화 연락처 또는 POS 기기로 “암호화폐” 매입(결제) 완료 메세지를 지체없이 발송합니다. 다만, 매입 완료 시점은 “암호화폐 지갑”으로 “전송”된 “암호화폐”의 현재 “시세” 기준 원화 환산 가치의 크기에 따라 달라지며, 이는 회사가 “코인덕” 웹사이트를 통해 별도로 고시하는 바에 따릅니다.</li>
            <li>    가맹점은 “코인덕” 서비스의 구성원으로 “정상적인 서비스 이용을 위한 의무”를 다해야 합니다. 여기서 “정상적인 서비스 이용을 위한 의무”란 결제자 신원확인, 결제에 따른 즉시적인 서비스 및 상품의 제공, 기타 불법적인 행위(자금세탁, 탈세 등)를 위한 서비스의 오남용 금지 등을 의미합니다. 또한 회사에서 이와 관련한 자료를 가맹점에게 요청하였을 경우 가맹점은 이에 대해 성실히 협조할 의무가 있습니다. 이를 위반하였을 시 회사는 본 약관에 정해진 규정에 따라 서비스 중지 및 해지를 요구할 수 있습니다.</li>
        </ol>

        <h3>제10조 [암호화폐 자동 매입에 따른 반환 부인]</h3>
        <p>“코인덕”에서 제공한 “암호화폐 지갑”으로 “전송”된 “암호화폐”에 대한 모든 권리(소유권을 포함하되 이에 한정하지 않고 “암호화폐”에 대하여 현재 또는 장래에 인정되는 모든 권리를 포함합니다)는 배타적이고 독점적으로 “전송” 즉시 회사에게 부여되며, “전송”된 “암호화폐”는 “전송” 완료 즉시 회사에 의해 자동적으로 “시세”에 따라 원화로 매입되었으므로 전송 이후 어떠한 사정으로도 가맹점 또는 전송자에게 “암호화폐”의 형태로 전부 및 일부도 반환ㆍ취소ㆍ철회될 수 없습니다.</p>


        <h2>제4장 서비스 이용료</h2>

        <h3>제11조 (서비스 이용료)</h3>
        <ol>
            <li>“코인덕”이 유료회원의 이용신청을 승낙한 때(일부 서비스의 경우, 이용 신청 접수 후 사전 공지한 지정된 일자)로부터 유료서비스는 개시됩니다.</li>
            <li>유료회원이 명시된 서비스 이용 한도 (월 결제 한도)를 초과하여 서비스를 이용하였을 경우, 회사는 미리 웹사이트를 통해 공시한(3조 2항에 따라 수정) 요금제 규정에 따라 추가 매입 수수료를 수취한다.</li>
            <li>“코인덕”은 회원의 유료서비스 이용신청이 있게 되는 경우, 해당 회원에게 이용신청의 내용을 통지합니다. 회사의 통지를 받은 회원은 의사표시의 불일치 등이 있는 경우 회사에 정정 또는 수정을 요청하여야 하며, 회사는 회원의 요청에 따라 처리하여야 합니다. 다만, 이미 대금을 지불한 경우에는 이 약관의 청약 철회 등에 관한 규정에 따릅니다.</li>
            <li>“코인덕”은 다음 각 호와 같은 유료서비스를 제공하며, 회사의 사정, 기타 제반 여건에 따라 서비스 내용을 추가하거나 변경할 수 있습니다.
                <ol class="circle int">
                    <li>자동결제 여부에 따른 분류
                        <ul>
                            <li>정기결제형 요금제: 유료회원이 미리 등록한 결제수단을 통하여 월 단위로 이용요금이 자동으로 결제되고 이용기간이 자동 갱신되는 서비스</li>
                        </ul>
                    </li>
                    <li>판매방식에 따른 분류
                        <ul>
                            <li>직접판매: “코인덕”이 제공하는 유료서비스를 회원에게 결제 수단을 통해 직접 제공하는 방식을 말합니다.</li>
                            <li>대행판매: “코인덕”이 제공하는 유료서비스를 제 3자를 통해 판매하는 방식으로 해당 판매상품의 이용방식은 영업대행업체가 제공하는 유료서비스 안내에 따릅니다.</li>
                        </ul>
                    </li>
                    <li>이용 기간에 따른 분류
                        <ul>
                            <li>월 요금제 : 이용 기간이 정해져 있는 요금제</li>
                        </ul>
                    </li>
                </ol>
            </li>
        </ol>

        <h3>제12조 (요금제 변경)</h3>
        <ol>
            <li>회원이 이미 구매/가입한 유료 서비스는 회원이 변경신청할 경우 즉시 반영합니다.</li>
            <li>변경신청 시 기존 결제 예정일 대신 새로 변경 신청한 결제일 기준으로 정기 결제가 진행됩니다.</li>
            <li>변경신청 시 새로 적용하는 요금제를 새롭게 사용할 수 있으며, 변경 신청 전 사용하지 않은 요금은 별도로 환불되지 않습니다</li>
        </ol>

        <h3>제13조 (결제수단)</h3>
        <ol>
            <li>회원이 유료서비스의 결제를 위하여 이용할 수 있는 수단은 다음과 같습니다.
                <ul>
                    <li>신용카드</li>
                </ul>
            </li>
        </ol>

        <h3>제14조 (청약 철회 및 서비스 이용계약의 해제·해지)</h3>
        <ol>
            <li>유료회원은 해당 유료서비스를 전혀 사용하지 아니하였을 경우에 한하여 요금제 또는 이용권 공급일로부터 15일 이내에 회사에 결제 취소(청약 철회)를 요청할 수 있습니다.</li>
            <li>유료회원이 유료서비스에 대하여 전혀 사용하지 아니하였더라도, 청약 철회 가능한 기간(요금제 공급일로부터 15일 이내)을 경과하여 청약 철회를 신청하였을 때 환불은 불가능합니다.</li>
            <li>유료회원이 이미 결제한 서비스 이용 계약을 해제, 해지 했을 때, 계약 후 남은 계약 기간 동안 유료서비스를 이용할 수 있습니다.</li>
            <li>청약의 철회는 유료회원이 서비스 홈페이지를 통해 할 수 있으며, 회사에 의사를 표시하여 회사에 도달될 때 그 효력이 발생하고, 회사는 유료회원의 의사표시를 수령한 후 지체 없이 이러한 사실을 유료회원에게 회신합니다.</li>
            <li>“코인덕”은 유료회원이 청약 철회, 해지/해제 신청을 확인 후 환불 금액이 있을 경우, 원칙적으로 유료회원의 해당 의사표시를 수령한 날로부터 3영업일 이내에 결제수단 별 사업자에게 대금의 청구 정지 내지 취소를 요청하고, 유료회원이 결제한 동일 결제수단으로 환불함을 원칙으로 합니다. 단, 회사가 사전에 유료회원에게 전자메일, 서비스 홈페이지로 공지한 경우 및 아래의 각 호의 경우와 같이 개별 결제 수단별 환불 방법, 환불 가능 기간 등이 차이가 있을 수 있습니다.
                <ol class="circle int">
                    <li>신용카드 등 수납 확인이 필요한 결제수단의 경우에는 수납 확인일로부터 3영업일 이내</li>
                    <li>결제수단 별 사업자가 회사와의 약정을 통하여 사전에 대금 청구 정지 내지 결제 취소 가능 기한 등을 미리 정하여 둔 경우로 해당 기한을 지난 환불의 경우</li>
                    <li>유료회원이 환불 처리에 필요한 정보 내지 자료를 회사에 즉시 제공하지 않는 경우</li>
                    <li>해당 회원의 명시적 의사표시가 있는 경우</li>
                </ol>
                <li>회사는 「콘텐츠산업 진흥법」제28조에 따라 제정된 「콘텐츠이용자보호지침」 등에 따라, 회사가 부담하였거나 부담할 부대비용, 수수료를 차감하여 환불할 수 있습니다.</li>
                <li>회원이 유료서비스를 선물 받거나, 프로모션 등을 통해 무료/무상으로 취득하는 등 회원이 직접 비용을 지불하지 아니하고 이용하는 유료서비스에 대하여 회사는 회원에게 유료서비스 결제 대금을 환불할 의무를 부담하지 않습니다.</li>
                <li>회원이 이 약관에서 정하는 회원의 의무를 위반하였을 경우, 계약을 해제, 해지하거나 서비스 이용 제한, 손해배상 청구 등의 조치를 취할 수 있으며, 계약 해지 후 환불하여야 할 금액이 있을 경우에는 일정한 범위 내에서 회원이 부담할 금액을 공제하고 환불합니다. 이 경우 회원은 해당 회사의 조치에 대하여 회사가 정한 절차에 따라 이의 신청을 할 수 있으며, 회사는 정당하다고 확인하는 경우 서비스 이용 재개 등을 할 수 있으며, 이용자가 자신의 고의, 과실 없었음을 입증한 경우 회사는 서비스를 정지한 기간만큼 이용 기간을 연장합니다.</li>
                <li>유료회원의 신청 또는 동의에 따라 월 정기결제 중인 유료서비스의 경우, 해당 회원이 유료서비스의 이용요금을 체납하는 경우 연체가 발생한 날 자동으로 이용권 해지가 될 수 있으므로, 유료서비스를 유지하고자 하는 유료회원은 이용요금의 체납 또는 결제수단의 연체가 발생하지 않도록 사전에 조치하여야 합니다.</li>
        </ol>

        <h3>제15조 (유료 서비스 가액 변경)</h3>
        <ol>
            <li>“코인덕”은 운영상, 기술상의 필요에 따라 공급하는 유료 서비스 가액을 변경할 수 있으며, 제3조의 방법에 따라 유료 회원에게 사전공지합니다.</li>
        </ol>

        <h3>제16조 (과오금)</h3>
        <ol>
            <li>“코인덕”은 유료서비스 결제와 관련하여 과오금이 발생한 경우 이용대금의 결제와 동일한 방법으로 과오금 전액을 환불합니다. 다만, 동일한 방법으로 환불이 불가능할 때는 이를 사전에 고지합니다.</li>
            <li>“코인덕”의 귀책사유로 과오금이 발생한 경우 과오금 전액을 환불합니다. 단, 회원의 귀책사유로 과오금이 발생한 경우, 회사가 과오금을 환불하는데 소요되는 비용은 합리적인 범위 내에서 이용자가 부담하여야 하며, 회사는 해당 비용을 차감 후 과오금을 환불할 수 있습니다.</li>
            <li>“코인덕”은 회원이 과오금을 주장하며 환불을 요구하는 경우, 정당하게 유료서비스 요금이 부과되었음을 입증하면 환불을 거부할 수 있습니다.</li>
            <li>“코인덕”은 과오금의 세부 환불절차 및 기타 사항에 대하여 다음과 같이 「콘텐츠이용자보호지침」이 정하는 바에 따릅니다.
                <ol class="circle int">
                    <li>회사나 회원이 과오금의 발생사실을 안 때에는 전자우편, 서비스 홈페이지 등 회사가 제시한 방법에 따라 상대방에게 통보</li>
                    <li>회사는 회원에게 환불에 필요한 정보를 요청(회원 성명, 결제증빙서류, 전화번호, 환불 요청 계좌 등)</li>
                    <li>회원은 환불에 필요한 2.호의 정보를 회사에 제공</li>
                    <li>회사는 이용자의 정보 제공일로부터 7일 이내 환불 처리 (회원의 명시적 의사표시가 있는 경우 차회 요금에서 상계)</li>
                </ol>
        </ol>


        <h2>제5장 매입대금 지급 등</h2>

        <h3>제17조 [매입대금의 지급]</h3>
        <ol>
            <li>    회사는 제11조에 따른 매입 수수료를 공제한 매입 대금 전액을 익일 오후 12시 또는 매입 24시간 이내(이하 “매입 대금 지급일”)에 가맹점에게 지급합니다. 다만, 매입 대금 지급일이 영업일이 아닌 경우 이후 도래하는 최초 영업일에 지급하되, 이에 따른 별도의 이자는 지급하지 아니합니다.</li>
            <li>    회사는 매입 대금을 가맹점이 회사에게 사전에 등록한 국내 은행 계좌에 원화로 지급합니다.</li>
        </ol>

        <h3>제18조 [대금지급 지연에 대한 지체상금의 지급]</h3>
        <ol>
            <li>회사가 제16조 1항에 따른 매입 대금 지급일에 가맹점에게 매입대금 전액을 지급하지 못할 경우, 미입금잔액의 일 1%를 지체상금으로 가산해 가맹점에게 지급합니다. (예: 1만원 하루 지체 입금시 1만 1백원)</li>
            <li>제1호에 따른 지체상금의 지급 기한은 매일 오전 12시이며, 이를 도과하는 경우 지체상금이 가산됩니다.</li>
            <li>회사가 지급한 금액이 가맹점에게 지급하여야 하는 매입대금, 지체상금 등 모든 금전지급 의무의 총 합계액에 미치지 못하는 경우, 지급당시의 총 지체상금, 총 매입대금의 순서로 충당됩니다.</li>
        </ol>


        <h2>제6장 기타 사항</h2>

        <h3>제 19조 [회사의 면책]</h3>
        <ol>
            <li>회사는 “코인덕” 웹사이트를 통해 매입이 가능하다고 사전 공표한 “암호화폐” 이외의 “암호화폐”를 공중이 “암호화폐 지갑”으로 “전송”하여 발생하는 오전송 손해에 대해서는 “블록체인 네트워크”의 특성상 전혀 구제할 방법을 가지고 있지 않으며, 따라서 오전송으로 인해 발생하는 모든 손해는 전송자가 부담합니다.</li>
        </ol>

        <h3>제20조 [기타조항]</h3>
        <ol>
            <li>회사와 가맹점은 상대방의 명백한 동의 없이 이용계약 또는 개별적 약정상의 권리, 의무의 전부 또는 일부를 제 3자에게 양도 또는 이전할 수 없습니다.</li>
            <li>이 약관과 관련하여 당사자 간의 합의에 의하여 추가로 작성된 계약서, 협정서, 통보서 등과 회사의 정책변경, 법령의 제ㆍ개정 또는 공공기관의 고시ㆍ지침 등에 따라 회사가 “코인덕”을 통하여 가맹점에게 공지하는 내용도 이 약관의 일부를 구성합니다.</li>
        </ol>

        <h3>제21조 [준거법 및 재판관할]</h3>
        <ol>
            <li>이 약관의 해석 및 적용은 대한민국 법률을 그 준거법으로 합니다.</li>
            <li>이 약관과 관련하여 당사자들 사이에 분쟁이 발생한 경우 서울중앙지방법원을 제1심 전속 관할 법원으로 합니다.</li>
        </ol>

        <h2>부칙</h2>
        <p>이 약관은 2018년 1월 4일부터 적용됩니다.</p>
    </div>
</article>

