.skip-nav {
    @include screen_reader();
}

// layout
// ------------------------------------------------------------

header > .container,
footer > .container,
article > section > .container {
    box-sizing:border-box;

    margin-left:auto;
    margin-right:auto;

    // 데스크탑 사이즈
    max-width:$container-width;

    padding:0 $padding-global;
    @include media ('<=768px') {
        padding-left:20px;
        padding-right:20px;
    }

}

article > section > .container {

    // 데스크탑 사이즈
    padding-top:170px;
    padding-bottom:170px;

    @include media ('<=768px') {
        padding-top:40px;
        padding-bottom:40px;
    }
}


// font style
// ------------------------------------------------------------

article {
    // base font style
    font-size: rem(16);
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: -0.2px;
    color: $font-base;

    @include media ('<=768px') {
        font-size:rem(14);
    }

    h2,
    h3,
    h4 {
        &:first-letter {
            text-transform: uppercase;
        }
    }

    // style
    h2 {
        font-size: rem(24);

        font-weight: bold;
        color: $red;
        line-height:1.34;

        @include media ('<=768px') {
            font-size:rem(14);
        }
    }

    h3 {
        font-size: rem(44);
        font-weight: 800;
        color:$font-black;

        @include media ('<=768px') {
            line-height:1.36;
            font-size:rem(22);
        }

        @include media ('>550px') {
            &:lang(ko) br {
                display:none;
            }
        }
    }

    h4 {
        font-size: rem(24);
        font-weight: 800;
        line-height: 1;
        color:$font-black;

        @include media ('<=768px') {
            font-size:rem(20);
        }
    }

    // 기본간격
    h2 {
        margin-bottom:14px;
    }
}
