@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700|Raleway:300,400,500,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,800,900');

// 폰트설정
@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-weight:100;
    src: local('AppleSDGothicNeo-Thin');
}

@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-weight:200;
    src: local('AppleSDGothicNeo-UltraLight');
}

@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-weight:300;
    src: local('AppleSDGothicNeo-Light');
}

@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-weight:400;
    src: local('AppleSDGothicNeo-Regular');
}

@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-weight:500;
    src: local('AppleSDGothicNeo-Medium');
}

@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-weight:600;
    src: local('AppleSDGothicNeo-SemiBold');
}

@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-weight:700;
    src: local('AppleSDGothicNeo-Bold');
}

@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-weight:800;
    src: local('AppleSDGothicNeo-ExtraBold');
}

@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-weight:900;
    src: local('AppleSDGothicNeo-Heavy');
}


