header {
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:79px;
    @include media ('<=768px') {
        height:56px;
    }

    z-index:4;

    background: transparent;

    .container {
        height:inherit;
        display:flex;
        align-items:center;
        justify-content: space-between;

        @include media ('<=768px') {
            padding-left:12px;
        }

        h1 a {

            display:block;
            width:176px;
            height:48px;

            background: url('/image/logo-coinduck-gnb-wh.svg') center center no-repeat;
            background-size:auto 48px;
            @include ir();

            @include media ('<=768px') {
                width:118px;
                height:32px;
                background-size:auto 32px;
            }
        }

        nav {
            display:flex;
            align-items:center;

            a {
                // margin:0 (70/1391*100%);
                margin:0 35px;

                color: $white;
                text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
                font-size: rem(16);
                font-weight: bold;
                text-transform:capitalize;

                &:first-child {
                    margin-left:0;
                }

                &:last-child {
                    margin-right:0;
                }
            }
        }

        .locale {
            a {
                font-size: rem(16);
                @include media ('<=768px') {
                    font-size: rem(12);
                }
                color: $white;
                font-weight:700;
                text-decoration:underline;
            }
        }
    }

}

header.reflection {
    background: $white;
    border-bottom:1px solid #eeeeee;

    h1 a {
        background: url('/image/logo-coinduck-gnb-r.svg') center center no-repeat;
        background-size:cover;
    }
    .container nav a {
        font-size: rem(16);
        font-weight: 500;
        color: #242424;
        text-shadow:none;
    }

    nav a {
        color: #242424;
    }

    .locale a {
        color: #242424;
    }
}




// responsive
@include media ('<=800px') {

header {
    .container {
        nav {
            display:none;
        }
    }
}

}
