#press {
    background-color:$light-gray;

    h2,
    h3 {
        text-align:center;
    }


    ul {
        margin-top:100px;
        @include media ('<=768px') {
            margin-top:40px;
        }

        margin-bottom:-40px;
        text-align:center;

        li {
            text-align:left;
            display:inline-block;
            overflow:hidden;

            $unit:420;
            $blank:(41/($unit*3)*100%);
            width:($unit*1px);

            @include media ('<550px') {
                width:100%;
            }

            // flex:0 0 $unit;
            // margin-left:$blank;
            // width:calc(100% / 3 - 20px * 2);

            margin:0 18px;

            @include media ('<988px') {
                margin-left:0;
                margin-right:0;
            }

            margin-bottom:40px;

            background-color: $white;
            box-sizing:border-box;

            border-radius:8px;
            box-shadow: 0 20px 20px 0 rgba(14, 19, 22, 0.02);

            &:first-child {
                margin-left:0;
            }
            &:last-child {
                margin-right:0;
            }
        }

        li a {
            color:inherit;
            text-decoration:none;
            width:inherit;
            height:inherit;
            cursor:pointer;
        }

        li div.image {
            background-position:center center;
            background-repeat:no-repeat;
            background-size:cover;

            height:236px;
            position:relative;

            @include media ('<550px') {
                height:180px;
            }
        }

        li:nth-of-type(1) div.image {
            background-image:url('/image/img-article-1@2x.jpg');
        }

        li:nth-of-type(2) div.image {
            background-image:url('/image/img-article-02@2x.jpg');
        }

        li:nth-of-type(3) div.image {
            background-image:url('/image/img-article-03@2x.jpg');
        }


        h4 {
            font-size:rem(18);
            line-height: 1.67;
            min-height:(1.67*3em);

            &:lang(ko) {
                min-height:(1.67*2em);
                letter-spacing:-0.5px;
                @include media ('>550px') {
                    br {
                        display:none;
                    }
                }
            }

            @include media ('<550px') {
                min-height:auto;
            }
        }

        p {
            font-size:rem(14);
            line-height: 1.86;
        }

        div.wrapper {
            padding:44px 55px 110px;

            @include media ('<500px') {
                padding:30px;
            }
        }
    }

    h4 + p {
        margin-top:16px;
    }

    p + p.from {
        margin-top:27px;
    }

    // position
    li {
        position:relative;
        // max-height:634px;
    }

    p.from {
        position:absolute;
        bottom:43px;

        img {
            width:50%;
        }

    @include media ('<500px') {
        position:static;

        img {
            width:auto;
            max-height:35px;
        }
    }

    }
}
