#business {
    .container {
        h2,h3 {
            text-align:center;
        }
    }

    ul {
        margin-top:90px;

        $unit:(100%/3);

        display:flex;
        justify-content: space-between;

        li {
            flex:0 0 $unit;
            text-align:center;
            box-sizing:border-box;
            padding:0 20px;

            &:first-child {
                padding-left:0;
            }

            &:last-child {
                padding-right:0;
            }
        }
    }

    // 여백
    img + h4 {
        margin-top:52px;
    }

    h4 + p {
        margin-top:16px;
    }

}

@include media ('>550px') {


#business .container ul li:first-child br:nth-of-type(1):lang(ko) {
    display:none;
}

}



@include media ('<=768px') {

#business .container ul {
    display:block;
    text-align:center;
    margin-top:0;

    li {
        margin-top:40px;
        max-width:none;
        padding-left:0;
        padding-right:0;
    }

    img + h4 {
        margin-top:20px;
    }

    img {
        min-width:170px;
        width:50%;
        max-width:280px;
    }
}

}
