#about {

    .container {
        max-width:1384px;
        text-align:center;

        @include media ('>768px') {
            h3:lang(ko) br {
                display:none;
            }

            h3:lang(en) br[data-type="mobile"] {
                display:none;
            }
        }

        @include media ('<=768px') {
            h3:lang(en) br[data-type="desktop"] {
                display:none;
            }
        }

        ul {
            $unit:(100%/3);

            display:flex;
            justify-content: space-between;
            padding:0 20px;


            li {
                flex:0 0 $unit;

                &:first-child {
                    padding-left:0;
                    @include media ('>768px') {
                        &:lang(ko) br {
                            display:none;
                        }
                    }
                }

                &:last-child {
                    padding-right:0;
                }
            }
        }

        // 여백
        ul {
            margin-top:90px;
        }

        h4 {
            margin-top:43px;
        }

        h4 + p {
            margin-top:26px;
        }

        @include media ('>768px') {
            &:lang(ko) {
                h4 br {
                    display:none;
                }
            }
        }

        @include media ('<=768px') {
            ul {
                margin-top:31px;
            }

            li {
                margin-top:21px;

                &:first-child {
                    margin-top:0;
                }
            }

            h4 {
                margin-top:-2px;
                line-height:1.42;
            }

            h4 + p {
                margin-top:6px;
            }

        }
    }
}

@include media ('<=768px') {
    #about .container ul {
        display:block;
        text-align:center;

        li {
            max-width:none;

            img {
                min-width:164px;
                width:50%;
                max-width:280px;
            }
        }
    }
}
