#business {
    .container {
        max-width:(280*3+140*2px);
        h2,h3 {
            text-align:center;
        }
    }

    ul {
        margin-top:90px;

        $unit:280;

        display:flex;
        justify-content: space-between;

        li {
            flex:0 0 $unit+px;
            text-align:center;
        }
    }

    // 여백
    img + h4 {
        margin-top:52px;
    }

    h4 + p {
        margin-top:16px;
    }

}
