// color
$black : #000;

$white : #fff;
$navy : #0e2e68;

$light-gray:#eaedef;

$red : #ff5252;

$font-black:#111;
$font-base:#646464;

// layout
//                 왼쪽 카드  여백   오른쪽
$container-width: (40px+420*3+40*2px+40px);
$padding-global:40px;

//font
$font-family-en :'Raleway','Apple SD Gothic Neo','Noto Sans KR','NanumGothic',나눔고딕,'맑은고딕','MalgunGothic', sans-serif;
$font-family-ko :'Raleway','Apple SD Gothic Neo','Noto Sans KR','NanumGothic',나눔고딕,'맑은고딕','MalgunGothic', sans-serif;
$font-family-ko-only :'Apple SD Gothic Neo','Noto Sans KR','NanumGothic',나눔고딕,'맑은고딕','MalgunGothic', sans-serif;
